{%  extends 'home/base.html' %}
{%load static%}
{%block main-content%}
<!-- <div class="container">
  <div class="card-group ">
    <div class="card cardbg">
      <div class="card-body text-center">
        <p class="card-text heading">Miễn phí vận chuyển</p>
        <p class="card-text">Nhận hàng trong vòng 3 ngày</p>
      </div>
    </div>
    <div class="card cardbg">
      <div class="card-body text-center">
        <p class="card-text heading">Quà tặng hấp dẫn</p>
        <p class="card-text">Nhận nhiều ưu đãi thú vị</p>
      </div>
    </div>
    <div class="card cardbg">
      <div class="card-body text-center">
        <p class="card-text heading">Đảm bảo chất lượng</p>
        <p class="card-text">Sản phẩm đã dược kiểm định</p>
      </div>
    </div>
    <div class="card cardbg">
      <div class="card-body text-center">
        <p class="card-text heading">Hotline: 19001993</p>
        <p class="card-text">Dịch vụ hỗ trợ bạn 24/7</p>
      </div>
    </div>
  </div>
</div> -->
<section class="container mt-3">
  <h5 class=" mgt text-uppercase fw-bold">sản phẩm bán chạy</p>
</section>
<!-- sản phẩm -->
<div class="container">
<div class="card-group">
  <div class="card " style="width: 18rem; border :0">
    <a href=""> <img src="{%static 'home/images/heading/nam.webp'%}" class="card-img-top" alt="..."> </a>
    <div class="card-body">
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>
  </div>
  <div class="card" style="width: 18rem; border :0">
    <a href=""> <img src="{%static 'home/images/heading/nam1.webp'%}" class="card-img-top" alt="..."> </a>    <div class="card-body">
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>
  </div>
  <div class="card" style="width: 18rem; border :0">
    <a href=""> <img src="{%static 'home/images/heading/betrai.webp'%}" class="card-img-top" alt="..."> </a>    <div class="card-body">
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>
  </div>
  <div class="card" style="width: 18rem; border :0">
    <a href=""> <img src="{%static 'home/images/heading/begai.webp'%}" class="card-img-top" alt="..."> </a>    <div class="card-body">
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>
  </div>
</div>
</div>
<!-- SẢN PHẨM -->

<!-- SẢN PHẨM -->
<section class="container mt-3">
  <h5 class=" text-uppercase fw-bold">gợi ý cho bạn1</p>
</section>
<div class="container">
  <div class="card-group">
    
    {% for product in products %}
    <div class="card" style="width: 18rem;">
      <img src="{{product.imageurl}}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <p class="card-text fw-bold">{{product.name}}</p>
        <del>500.000 VNĐ</del> <span>{{product.price}}</span>
    
        <a href="#" class="btn btn-danger">Mua ngay</a>
        <a href="#" class="">Xem chi tiết</a>
      </div>
    </div>
{%endfor%}


    
  </div>
</div>
{% endblock main-content%}